- @github_projects.each do |github_project|
	%a.row-block{:href=>"#{github_project_path(github_project)}"}
		.no-link
			= github_project.name
			= github_project.yammer_posts.count 
		
= link_to 'New Github project', new_github_project_path 
